@CHARSET "UTF-8";

.ui-widget {line-height: 1.1em;}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: 10000 !important; /*must have*/
    filter: mask(); /*must have*/
    top: 14px !important; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/* css for timepicker widget */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div .ui-widget-header{ margin-top: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 8px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }